<div class="card">
    <div class="card-header">
        Editar Empleado
    </div>
    <div class="card-body">
        <form [formGroup]="employeeForm" (ngSubmit)="sendInfo()">
            <div class="mb-3">
              <label for="" class="form-label">Cedula de identidad</label>
              <input formControlName="Dni" type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escriba su cedula">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Nombre</label>
              <input formControlName="name" type="text"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escriba Nombre">
            </div>

            <div class="mb-3">
              <label for="" class="form-label">Correo Electrónico</label>
              <input formControlName="email" type="email"
                class="form-control" name="" id="" aria-describedby="helpId" placeholder="Escriba su correo">
            </div>

            <div class="btn-group" role="group" aria-label="Agregar empleado">
                <button type="submit" class="btn btn-success">Modificar</button>
                <button type="button" class="btn btn-primary">Cancelar </button>
            </div>
        </form>
    </div>
   
</div>