<div class="card">
    <div class="card-header">
        Empleados
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="">
                        <td scope="row">30110267</td>
                        <td>Yoberth José Malavé Aliendres</td>
                        <td>ymalave@seguroscaroni.com</td>
                        <td><a routerLink="/update-employee/1">Editar</a> | Borrar</td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>
</div>

